<<<<<<< HEAD:client/src/routes/home.css

=======
.Home {
  height: 100vh;
  max-width: 100%;
  background-image: url(../../assets/ball.jpg);
  background-size: cover;
}
>>>>>>> 14fb02971e998fe7a2f55e51d6f5129aeba1c6d3:client/src/routes/home/home.css
